@media only screen and (max-width: 425px) {
    #conteiner {
    height: 100vh;
    width: calc(100vh * 16 / 9);
        
    }
    .header p {
        font-size: 0.6em;
        align-items: left;
    }
    .menu {
        display: none;
        font-size: 0.6em;
    }
    .principal {
        grid-template-columns: none;
        font-size: 0.6em;
    }
    #paragrafo p{
        width: 280px;
    }
    .resultado {
        padding: 60px 60px;
    }
    
}
